.dish-card {
  background: #f5f6fa;

  .img-load .error-icon {
    position: absolute;
    right: -25px;
    transition: opacity 0.2s;
    opacity: 0;
  }

  .img-load {
    .add-btn:hover {
      .tooltip-left-arrow {
        left: 30px;
      }
    }
  }

  .img-load label.error {
    .error-icon {
      opacity: 1;
    }
  }

  .form-group .error-icon {
    padding: 5px 0 0 5px;
    transition: opacity 0.2s;
    opacity: 0;
  }

  .form-group.small-width {
    label {
      top: 12px;
      left: 10px;
      transition: all 0.2s;

      &.input-activated {
        top: -7px;
        left: 5px;
      }
    }

    input:focus {
      outline: none;

    }

    input:focus~label {
      top: -7px;
      left: 5px;
    }
  }

  .js-tabs__content .error-icon {
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  .base-textarea-wrapper .error-icon-textarea {
    display: flex;
    opacity: 0;
    transition: opacity 0.2s;
    height: 0;

    svg {
      margin-left: auto;
    }
  }

  .base-textarea-wrapper.error {
    textarea {
      border: 1px solid map-get($colors, 'invalid-color') !important;
    }

    .error-icon-textarea {
      opacity: 1;
      height: auto;
    }
  }

  .form-group.error,
  .js-tabs__content.error {
    input {
      border: 1px solid map-get($colors, 'invalid-color') !important;
    }

    .error-icon {
      opacity: 1;
    }

    label {
      color: map-get($colors, 'invalid-color') !important;
    }
  }


  .wrapper {
    @include respond-to(phone) {
      padding: 0;

      //padding-bottom: 80px;
      form {
        .dish-card-content .dish-card-third .dish-files .dish-3d {
          margin-bottom: 170px !important;
        }
      }
    }
  }

  .light-card-h3 {
    @include respond-to(desktop) {
      font-weight: 500;
    }

    &.mobile {
      display: none;

      @include respond-to(phone) {
        display: block;
      }
    }
  }

  .title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
  }

  .light-card {
    box-shadow: 0 0 0 0 transparent;
  }

  .flex-el-wrapper {
    display: flex;

    svg {
      margin-right: 10px;
    }
  }

  .btn-base.mobile {
    display: none;

    @include respond-to(phone) {
      display: block;
    }
  }

  .activations-btn-wrapper {
    display: flex;
    width: 50%;

    @include respond-to(phone) {
      display: none;
    }

    .activate-btn,
    .deactivate-btn {
      border-radius: 8px;
      padding: 7px 0;
      text-align: center;
      background: transparent;
      border: 1px solid rgba(73, 81, 108, 0.7);
      font-size: 16px;
      line-height: 19px;
      color: rgba(73, 81, 108, 0.7);
      width: 28%;
      transition: all 0.2s;
      width: 150px;
      height: 32px;
      padding: 0;

      &.active {
        color: #49516C;
        border: 2px solid #49516C;
      }
    }

    .activate-btn {
      margin-left: 4%;
      margin-right: 12%;
    }


    .btn-base {
      // width: 28%;
      width: 150px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      .error-icon,
      .success-icon {
        margin-left: 5px;
        display: none;
      }

      .error-icon {
        padding-top: 5px;
      }

      &.error {
        .error-icon {
          display: block;
        }
      }

      &.success {
        .success-icon {
          display: block;
        }
      }
    }
  }
}

.dish-card-content {
  margin-top: 30px;

  @include respond-to(phone) {
    margin-top: 100px;

    .mobile-wrapper {
      padding: 0 20px;
    }
  }

  .activations-btn-wrapper {
    display: none;

    @include respond-to(phone) {
      display: flex;
      justify-content: space-between;
      width: 100% !important;
      margin-top: 10px !important;

      button {
        width: 49% !important;
        margin: 0 !important;
      }
    }
  }

  .form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
  }

  .dish-card-first {
    width: 38%;
    padding: 30px 40px 5px 40px;
    position: absolute;
    top: 0;
    left: 0;

    .select-box__input-text {
      color: #181D30;
    }


    @include respond-to(desktop) {
      width: 49%;
      background: transparent;
      padding: 20px;
      padding-left: 0;
      position: static;
    }

    @include respond-to(phone) {
      width: 100%;
      order: 2;
      padding: 0;
    }


    .dish-details {
      .light-card-h3 {
        margin-bottom: 15px;

        @include respond-to(phone) {
          margin-bottom: 25px;
        }
      }

      @include respond-to(desktop) {
        .select-box__input-text {
          background: transparent;
        }

        .select-box-label {
          background: #f5f6fa;
        }
      }

      .accordion-content {
        padding: 0 15px;
      }

      .form-group.small-width {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        label {
          @include respond-to(desktop) {
            background: #f5f6fa;
          }
        }

        input {
          width: 70px;
          margin-right: 10px;

          letter-spacing: 0.005em;

          color: #181D30;

          @include respond-to(desktop) {
            background: #f5f6fa;
          }
        }
      }
    }

    .dish-ingredients {
      @include respond-to(desktop) {
        .select-box__input-text {
          background: transparent;
        }

        .select-box-label {
          background: #f5f6fa;
        }
      }

      .light-card-h3 {
        margin-bottom: 10px;

        @include respond-to(phone) {
          margin-bottom: 20px;
        }
      }

      .accordion-content {
        padding: 0 15px;
      }
    }

    .add-btn {
      position: relative;

      .tooltip-bottom-arrow {
        top: -30px;
        width: 117px;
        padding: 5px;

        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .dish-ingredients {
      margin-bottom: 60px;

      @include respond-to(phone) {
        margin-bottom: 0px;
      }

      &-list {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &-item {
        width: 47%;
        display: flex;
        justify-content: space-between;
        padding: 6px 10px 6px 10px;
        border: 1px solid #596079;
        border-radius: 10px;
        margin-bottom: 5px;

        .delete-icon {
          padding: 0;
          background: transparent;
          border: none;
        }
      }

    }

    .dish-add-date {
      color: rgba(24, 29, 48, 0.6);
      font-size: 14px;
      line-height: 16px;
      text-align: center;

      @include respond-to(desktop) {
        display: none;
      }
    }

  }

  .dish-card-second {
    width: 58%;
    position: relative;
    margin-left: auto;

    @include respond-to(desktop) {
      margin-left: 0;
    }

    .base-textarea-wrapper {
      padding-left: 15px;

      @include respond-to(phone) {
        padding-left: 0;
      }
    }

    .dish-card-title-section {
      //margin-bottom: 20px;

      @include respond-to(phone) {
        margin-bottom: 0;
      }
    }

    @include respond-to(desktop) {
      width: 49%;
      background: transparent;
      padding: 10px 0;

    }

    @include respond-to(phone) {
      width: 100%;
      order: 1;
    }

    .dish-registration-lang-menu {
      position: absolute;
      right: 10px;
      top: 10px;

      @include respond-to(desktop) {
        right: 20px;
        top: 38px;
      }

      @include respond-to(phone) {
        right: 20px;
        top: 57px;
      }

      .tooltip-bottom-arrow {
        top: -30px;
        width: 120px;
        padding: 5px;
        right: -14px;
      }

      .dropdown-menu {
        right: 0;
        top: 35px;
      }
    }

    .js-tabs__content.dish-card-second-description-content {
      padding: 20px 0;
      padding-bottom: 0;

      @include respond-to(desktop) {
        .symbols {
          right: 10px !important;
        }
      }

      @include respond-to(phone) {
        padding: 25px 15px 25px 30px;
        position: relative;

        .error-icon {
          position: absolute;
          z-index: 999999;
          left: 2px;
          top: 64px;
        }
      }

      input {
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 15px;
        width: 50%;
        background: #EDEEF3;
        border: 1px solid #7E8296;
        border-radius: 8px;
        padding: 10px 15px;

        @include respond-to(desktop) {
          background: transparent;
        }

        @include respond-to(phone) {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }

  .dish-card-third {
    width: 58%;
    margin-left: auto;
    margin-top: 30px;

    @include respond-to(desktop) {
      width: 100%;
      background: transparent;
      padding-left: 0;
      margin-top: 0;
      padding-right: 0;
    }

    @include respond-to(phone) {
      width: 100%;
      order: 3;
      margin-top: -20px;
      padding-right: 20px;
    }

    .light-card-h2 {
      @include respond-to(desktop) {
        display: none;
      }
    }

    .dish-files {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .dish-3d,
      .dish-preview {
        @include respond-to(desktop) {
          width: 317px;

          .before-el {
            margin-bottom: 10px;
          }
        }
      }


      @include respond-to(phone) {
        flex-wrap: wrap;

        .dish-3d,
        .dish-preview {
          width: 100%;

          .img-load {
            margin-left: 30px;

            &-description {
              margin-left: 0;
            }
          }
        }

        .dish-preview {
          margin-bottom: 15px;
        }
      }

      .dish-3d {
        margin-left: auto;
      }

      .img-load {
        display: flex;
        flex-direction: column;

        @include respond-to(desktop) {
          .mobile-flex-wrapper {
            display: flex;

            .img-load-description {
              align-self: flex-end;
              font-size: 10px;
              margin-left: 0;
            }

            label {
              margin-bottom: 0;
              margin-left: 0;
              margin-right: 10px;
            }
          }
        }

        label {
          width: 215px;
          height: 225px;
          margin: 10px 15px;
        }

        &-description {
          color: rgba(24, 29, 48, 0.55);
          font-size: 12px;
          line-height: 14px;
          margin-left: 15px;

          .color-darker {
            color: rgba(24, 29, 48, 0.95);
          }
        }
      }
    }
  }

  @include respond-to(phone) {
    .before-el {
      margin: 10px 0;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        width: 25px;
        height: 3px;
        display: block;
        background: rgba(227, 177, 0, 0.4);
        border-radius: 0px 10px 10px 0px;
        margin-right: 5px;
      }
    }
  }
}
