.reset-pas-form {
  max-width: 450px;

  &.login-title {
    margin-top: 18px;
    padding-top: 0 !important;

    @include respond-to(tablet) {
      padding-top: 0px;
    }

    @include respond-to(phone) {
      padding-top: 20px;
      margin-top: 0px;
    }
  }

  &.extra-login-btns {
    padding-left: 0;
  }

  .color-white {
    max-width: 450px;
    margin-top: 15px;
    margin-bottom: 10px;

    @include respond-to(phone) {
      font-size: 12px;
    }
  }

  input {
    min-width: 100% !important;
  }
}
