<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>

  <div class="container container-main orders">
    <div class="darker-wrapper"></div>
    <div class="wrapper">
      @@include('../partials/components/menu.html')
      <header class="title-section mobile-fixed-header light-card mobile-menu-header">
        <svg width="24" class="desktop-only" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 8.99999H19.9246L15.6431 1.86401C15.4307 1.50954 14.97 1.3938 14.6141 1.60694C14.2588 1.82008 14.1438 2.28075 14.357 2.63598L18.1754 8.99999H5.82467L9.64306 2.63593C9.8562 2.2807 9.74122 1.82003 9.38599 1.60689C9.02929 1.39375 8.57009 1.50949 8.35695 1.86396L4.07541 8.99994H0V10.4999H1.62781L3.5332 20.6638C3.7324 21.728 4.66257 22.5 5.74514 22.5H18.2549C19.3374 22.5 20.2676 21.728 20.4661 20.6645L22.3721 10.4999H24C24 10.4999 24 8.99999 24 8.99999ZM18.9917 20.3884C18.9258 20.7429 18.616 21 18.2549 21H5.74514C5.38405 21 5.07426 20.7429 5.00761 20.3877L3.15347 10.4999H20.8466L18.9917 20.3884Z" fill="#E3B100" stroke="#E3B100" stroke-width="1.07723"/>
          </svg>


        <button type="button" class="mobile-menu-opening-btn">
          <div class="mobile-menu-opening-btn-item mobile-menu-opening-btn-item-first"></div>
          <div class="mobile-menu-opening-btn-item mobile-menu-opening-btn-item-second"></div>
          </button>
        <h1 class="pages-h1"> Orders </h1>
        <a href="orders.html" class="mobile-only"><svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23 7.87499H19.2642L15.3395 1.33368C15.1448 1.00874 14.7225 0.902652 14.3962 1.09803C14.0706 1.29341 13.9652 1.71569 14.1606 2.04132L17.6608 7.87499H6.33928L9.83947 2.04127C10.0349 1.71564 9.92945 1.29336 9.60382 1.09798C9.27685 0.902606 8.85592 1.0087 8.66054 1.33363L4.7358 7.87494H1V9.24995H2.49216L4.23876 18.5668C4.42137 19.5423 5.27402 20.25 6.26638 20.25H17.7337C18.726 20.25 19.5786 19.5423 19.7606 18.5675L21.5078 9.24995H23C23 9.24995 23 7.87499 23 7.87499ZM18.409 18.3144C18.3486 18.6393 18.0646 18.875 17.7336 18.875H6.26638C5.93538 18.875 5.6514 18.6394 5.5903 18.3137L3.89068 9.24995H20.1094L18.409 18.3144Z" fill="#E3B100" stroke="#E3B100" stroke-width="1.07723"/>
          </svg>
          </a>
      </header>

      <main class="orders-content">
        <!--@@include('../partials/components/ordersDeliveryPopup.html')-->
        <!--@@include('../partials/components/ordersRestaurantPopup.html')-->
        <!--@@include('../partials/components/ordersTakeAwayPopup.html')-->


        <div class="order-content complete-order">
          <div class="order-content__inner">
            <div class="pop-up-header">
              <h3 class="pop-up-title">№ 34786040</h3>

              <button class="pop-up-close-btn" type="button">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                          d="M9.76284 7.74805L15.7454 1.95364C15.91 1.79414 16.0008 1.58133 16.001 1.35442C16.001 1.12738 15.9102 0.914329 15.7454 0.755074L15.2211 0.24745C15.0563 0.0875649 14.8366 0 14.6021 0C14.3679 0 14.1482 0.0875649 13.9833 0.24745L8.00078 6.04148L2.01795 0.24745C1.85339 0.0875649 1.63354 0 1.39912 0C1.16495 0 0.945102 0.0875649 0.780538 0.24745L0.256017 0.755074C-0.0853389 1.08568 -0.0853389 1.62342 0.256017 1.95364L6.23871 7.74805L0.256017 13.5422C0.091323 13.702 0.000650449 13.9148 0.000650449 14.1417C0.000650449 14.3686 0.091323 14.5814 0.256017 14.741L0.780408 15.2486C0.944972 15.4084 1.16495 15.4961 1.39898 15.4961C1.63341 15.4961 1.85326 15.4084 2.01782 15.2486L8.00065 9.45449L13.9832 15.2486C14.148 15.4084 14.3678 15.4961 14.6019 15.4961H14.6022C14.8365 15.4961 15.0562 15.4084 15.221 15.2486L15.7453 14.741C15.9098 14.5815 16.0006 14.3686 16.0006 14.1417C16.0006 13.9148 15.9098 13.702 15.7453 13.5423L9.76284 7.74805Z"
                          fill="#596079" fill-opacity="0.7" />
                </svg>

              </button>
            </div>

            <form class="pop-up-content">
              <div class="click-prevent-layer"></div>
              <div class="pop-up-content-item name-item">
                <p class="pop-up-text">Name:</p>
                <p class="pop-up-name pop-up-content-item-right">Name Name</p>
              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Status:</p>
                <div class="pop-up-payment-status pop-up-content-item-right">
                  <button type="button" class="paid selected">Paid</button>
                  <button type="button" class="unpaid">Not Paid</button>
                </div>
              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Disliked products:</p>
                <ul class="pop-up-order-wrapper pop-up-content-item-right reset-list-styles">

                  <li class="pop-up-order-item">
                    <label class="ingredient">
                      <input type="text" value="Name" readonly>
                    </label>

                  </li>
                  <li class="pop-up-order-item">
                    <label class="ingredient">
                      <input type="text" value="Name" readonly>
                    </label>

                  </li>
                  <li class="pop-up-order-item">
                    <label class="ingredient">
                      <input type="text" value="Name" readonly>
                    </label>

                  </li>
                  <li class="pop-up-order-item">
                    <label class="ingredient">
                      <input type="text" value="Name" readonly>
                    </label>

                  </li>
                </ul>

              </div>



              <div class="pop-up-content-item">
                <p class="pop-up-text">Order:</p>
                <div class="pop-up-content-item-right order-right">
                  <div class="order-right__search">
                    <input type="text" id="order-search" placeholder="To add, start entering the dish">
                    <label for="order-search"></label>
                  </div>
                  <div class="order-right__items">
                    <div class="order-right__item">
                      <div class="order-right__title">
                        French fries burger French fries burger French fries burger
                        <a href="#" class="order-right__close">
                          +
                        </a>
                      </div>
                      <div class="order-right__bottom">
                        <div class="order-right__price">
                          14 $
                        </div>
                        <div class="order-right__counter">
                          <a href="#" class="order-right__minus">
                            &#8212;
                          </a>
                          <input type="text" class="order-right__count" value="1">
                          <a href="#" class="order-right__plus">
                            +
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="order-right__item">
                      <div class="order-right__title">
                        French fries burger French fries burger French fries burger
                        <a href="#" class="order-right__close">
                          +
                        </a>
                      </div>
                      <div class="order-right__bottom">
                        <div class="order-right__price">
                          14 $
                        </div>
                        <div class="order-right__counter">
                          <a href="#" class="order-right__minus">
                            &#8212;
                          </a>
                          <input type="text" class="order-right__count" value="1">
                          <a href="#" class="order-right__plus">
                            +
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="order-right__item">
                      <div class="order-right__title">
                        French fries burger French fries burger French fries burger
                        <a href="#" class="order-right__close">
                          +
                        </a>
                      </div>
                      <div class="order-right__bottom">
                        <div class="order-right__price">
                          14 $
                        </div>
                        <div class="order-right__counter">
                          <a href="#" class="order-right__minus">
                            &#8212;
                          </a>
                          <input type="text" class="order-right__count" value="1">
                          <a href="#" class="order-right__plus">
                            +
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


              <div class="pop-up-content-item">
                <p class="pop-up-text">Order type:</p>
                <div class="select-box pop-up-content-item-right pop-up-order-type">
                  <div class="select-box__current" tabindex="1">
                    <div class="select-box__value"><input class="select-box__input" type="radio" id="orderTypeDelivery0"
                                                          value="orderTypeDelivery1" name="orderTypeDelivery" checked="checked" />
                      <p class="select-box__input-text">Restaurant</p>
                    </div>
                    <div class="select-box__value"><input class="select-box__input" type="radio" id="orderTypeDelivery1"
                                                          value="orderTypeDelivery2" name="orderTypeDelivery" checked="checked" />
                      <p class="select-box__input-text">Take away</p>
                    </div>
                    <div class="select-box__value"><input class="select-box__input" type="radio" id="orderTypeDelivery2"
                                                          value="orderTypeDelivery3" name="orderTypeDelivery" checked="checked" />
                      <p class="select-box__input-text">Delivery</p>
                    </div>

                    <img class="select-box__icon" src="./images/selectArrow.svg" alt="Arrow Icon" aria-hidden="true" />
                  </div>
                  <ul class="select-box__list">
                    <li><label class="select-box__option" for="orderTypeDelivery0" aria-hidden="aria-hidden">Restaurant</label>
                    </li>
                    <li><label class="select-box__option" for="orderTypeDelivery1" aria-hidden="aria-hidden">Take away</label>
                    </li>
                    <li><label class="select-box__option" for="orderTypeDelivery2" aria-hidden="aria-hidden">Delivery</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Order-time:</p>
                <label class="pop-up-order-time pop-up-content-item-right">
                  <input type="text" value="20:37">
                </label>
              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Time of delivery:</p>
                <label class="pop-up-delivery-on-time pop-up-content-item-right">
                  <input type="text" value="19:30">
                </label>
              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Telephone:</p>
                <label class="pop-up-phone pop-up-content-item-right">
                  <input type="text" value="+ 6768 689 68 86">
                </label>
              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Address:</p>
                <label class="pop-up-address pop-up-content-item-right">
                  <textarea></textarea>
                </label>
              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Payment:</p>
                <div class="pop-up-content-item-right pop-up-payment-type">
                  <div class="select-box sort-select">
                    <div class="select-box__current" tabindex="1">
                      <div class="select-box__value"><input class="select-box__input" type="radio" id="paymentType0" value="1"
                                                            name="paymentType" checked="checked" />
                        <p class="select-box__input-text">Cash</p>
                      </div>
                      <div class="select-box__value"><input class="select-box__input" type="radio" id="paymentType1" value="2"
                                                            name="paymentType" checked="checked" />
                        <p class="select-box__input-text">Card</p>
                      </div>


                      <img class="select-box__icon" src="./images/selectArrow.svg" alt="Arrow Icon" aria-hidden="true" />
                    </div>
                    <ul class="select-box__list">
                      <li><label class="select-box__option" for="paymentType0" aria-hidden="aria-hidden">Cash</label></li>
                      <li><label class="select-box__option" for="paymentType1" aria-hidden="aria-hidden">Card</label></li>

                    </ul>
                  </div>
                </div>

              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Change:</p>
                <label class="pop-up-change pop-up-content-item-right">
                  <input type="text" name="change" value="200">
                </label>
              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Number of cutlery:</p>
                <label class="pop-up-number-of-appliances pop-up-content-item-right">
                  <input type="text" name="number-of-appliances" value="4 sets">
                </label>
              </div>
              <div class="pop-up-content-item">
                <p class="pop-up-text">Notice:</p>
                <label class="pop-up-comment pop-up-content-item-right">
                  <textarea>I don’t have a doorphone and I want the courier to call me ...</textarea>
                </label>
              </div>
            </form>

            <div class="pop-up-order-status-btns">
              <button type="button" class="btn-base activated-btn">
                <span class="btn-base-text">Pending</span>
                <span class="step-number">1</span>
              </button>
              <button type="button" class="btn-base activated-btn">
                <span class="btn-base-text">In work</span>
                <span class="step-number">2</span>
              </button>
              <button type="button" class="btn-base">
                <span class="btn-base-text">Done</span>
                <span class="step-number">3</span>
              </button>
              <button type="button" class="btn-base">
                <span class="btn-base-text">Lost</span>
                <span class="step-number">4</span>
              </button>
              <div class="center">
                <button type="button" class="pop-up-submit-btn">
                  <span class="btn-base-text">Save</span>
                </button>
              </div>
            </div>
          </div>



        </div>

      </main>
    </div>
    <!-- /.wrapper -->
  </div>
  <!-- /.container -->

  @@include('../partials/scripts/common.html')
</body>

</html>
