<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <div class="full-screen-wrapper dark-bg flex-center login-page">
    <figure class="logo logo-no-animation">
      <img src="./images/logo-dark.png" alt="W.A.R.P">
    </figure>
    <h1 class="custom-h1 login-title reset-pas-form">Reset password</h1>
    <div class="form-wrapper">
      <form action="#" class="reset-pas-form">
        <p class="color-white">Enter your username or email address to reset your password.
          You will receive an email with password reset instructions.</p>
        <fieldset class="form-group input-animation login-form-group">
          <input type="text" id="email" class="input-color" required>
          <label for="email">Your login or email</label>
        </fieldset>
        <input type="submit" class="btn btn-gradient" value="Reset password">
        <div class="extra-login-btns reset-pas-form">
          <a href="index.html" class=" border-hover-link">Sign In</a>
        </div>
      </form>
    </div>
  </div>
  @@include('../partials/scripts/common.html')
</body>

</html>
