<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html')

<body>
  <div class="darker-wrapper"></div>
  <div class="container">
    <div class="wrapper user-stats">
      @@include('../partials/components/menu.html')
      <header class="title-section light-card mobile-menu-header mobile-fixed-header">
        <svg class="desktop-only" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="8" y="1" width="4" height="19" rx="2" stroke="#E3B100" stroke-width="2" />
          <rect x="1" y="6.00098" width="4" height="14" rx="2" stroke="#E3B100" stroke-width="2" />
          <rect x="15" y="10" width="4" height="10" rx="2" stroke="#E3B100" stroke-width="2" />
        </svg>

        <button type="button" class="mobile-menu-opening-btn">
          <div class="mobile-menu-opening-btn-item mobile-menu-opening-btn-item-first"></div>
          <div class="mobile-menu-opening-btn-item mobile-menu-opening-btn-item-second"></div>
          </button>
        <h1 class="pages-h1"> User statistics </h1>
        <a href="orders.html" class="mobile-only"><svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23 7.87499H19.2642L15.3395 1.33368C15.1448 1.00874 14.7225 0.902652 14.3962 1.09803C14.0706 1.29341 13.9652 1.71569 14.1606 2.04132L17.6608 7.87499H6.33928L9.83947 2.04127C10.0349 1.71564 9.92945 1.29336 9.60382 1.09798C9.27685 0.902606 8.85592 1.0087 8.66054 1.33363L4.7358 7.87494H1V9.24995H2.49216L4.23876 18.5668C4.42137 19.5423 5.27402 20.25 6.26638 20.25H17.7337C18.726 20.25 19.5786 19.5423 19.7606 18.5675L21.5078 9.24995H23C23 9.24995 23 7.87499 23 7.87499ZM18.409 18.3144C18.3486 18.6393 18.0646 18.875 17.7336 18.875H6.26638C5.93538 18.875 5.6514 18.6394 5.5903 18.3137L3.89068 9.24995H20.1094L18.409 18.3144Z" fill="#E3B100" stroke="#E3B100" stroke-width="1.07723"/>
          </svg>
          </a>
      </header>

      <main class="user-stats-content">
        <div class="user-rating light-card">
          <h5 class="user-stats-h5">User rating</h5>
          <ul class="stars-wrapper reset-list-styles">
            <li class="star">
              <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.7249 1.4192C14.4715 -0.0187913 16.5285 -0.0187892 17.2751 1.4192L20.6228 7.86784C20.8964 8.39479 21.3899 8.77295 21.9699 8.9L28.8985 10.4178C30.3708 10.7403 30.9708 12.5136 29.9969 13.6639L25.0405 19.5174C24.6873 19.9345 24.5202 20.478 24.5781 21.0215L25.4004 28.7463C25.5675 30.3161 23.9353 31.4516 22.5216 30.7491L16.39 27.7022C15.8294 27.4237 15.1706 27.4237 14.61 27.7022L8.47839 30.7491C7.06469 31.4516 5.43254 30.3161 5.59963 28.7463L6.42193 21.0215C6.47978 20.478 6.31269 19.9345 5.9595 19.5174L1.00315 13.6639C0.0292094 12.5136 0.629237 10.7403 2.10151 10.4178L9.0301 8.9C9.61007 8.77295 10.1036 8.39479 10.3772 7.86784L13.7249 1.4192Z"
                  fill="#FFC700" />
              </svg>
            </li>
            <li class="star">
              <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.7249 1.4192C14.4715 -0.0187913 16.5285 -0.0187892 17.2751 1.4192L20.6228 7.86784C20.8964 8.39479 21.3899 8.77295 21.9699 8.9L28.8985 10.4178C30.3708 10.7403 30.9708 12.5136 29.9969 13.6639L25.0405 19.5174C24.6873 19.9345 24.5202 20.478 24.5781 21.0215L25.4004 28.7463C25.5675 30.3161 23.9353 31.4516 22.5216 30.7491L16.39 27.7022C15.8294 27.4237 15.1706 27.4237 14.61 27.7022L8.47839 30.7491C7.06469 31.4516 5.43254 30.3161 5.59963 28.7463L6.42193 21.0215C6.47978 20.478 6.31269 19.9345 5.9595 19.5174L1.00315 13.6639C0.0292094 12.5136 0.629237 10.7403 2.10151 10.4178L9.0301 8.9C9.61007 8.77295 10.1036 8.39479 10.3772 7.86784L13.7249 1.4192Z"
                  fill="#FFC700" />
              </svg>
            </li>
            <li class="star">
              <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.7249 1.4192C14.4715 -0.0187913 16.5285 -0.0187892 17.2751 1.4192L20.6228 7.86784C20.8964 8.39479 21.3899 8.77295 21.9699 8.9L28.8985 10.4178C30.3708 10.7403 30.9708 12.5136 29.9969 13.6639L25.0405 19.5174C24.6873 19.9345 24.5202 20.478 24.5781 21.0215L25.4004 28.7463C25.5675 30.3161 23.9353 31.4516 22.5216 30.7491L16.39 27.7022C15.8294 27.4237 15.1706 27.4237 14.61 27.7022L8.47839 30.7491C7.06469 31.4516 5.43254 30.3161 5.59963 28.7463L6.42193 21.0215C6.47978 20.478 6.31269 19.9345 5.9595 19.5174L1.00315 13.6639C0.0292094 12.5136 0.629237 10.7403 2.10151 10.4178L9.0301 8.9C9.61007 8.77295 10.1036 8.39479 10.3772 7.86784L13.7249 1.4192Z"
                  fill="#FFC700" />
              </svg>
            </li>
            <li class="star">
              <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.7249 1.4192C14.4715 -0.0187913 16.5285 -0.0187892 17.2751 1.4192L20.6228 7.86784C20.8964 8.39479 21.3899 8.77295 21.9699 8.9L28.8985 10.4178C30.3708 10.7403 30.9708 12.5136 29.9969 13.6639L25.0405 19.5174C24.6873 19.9345 24.5202 20.478 24.5781 21.0215L25.4004 28.7463C25.5675 30.3161 23.9353 31.4516 22.5216 30.7491L16.39 27.7022C15.8294 27.4237 15.1706 27.4237 14.61 27.7022L8.47839 30.7491C7.06469 31.4516 5.43254 30.3161 5.59963 28.7463L6.42193 21.0215C6.47978 20.478 6.31269 19.9345 5.9595 19.5174L1.00315 13.6639C0.0292094 12.5136 0.629237 10.7403 2.10151 10.4178L9.0301 8.9C9.61007 8.77295 10.1036 8.39479 10.3772 7.86784L13.7249 1.4192Z"
                  fill="#FFC700" />
              </svg>
            </li>
            <li class="star">
              <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M14.6125 1.87995C14.9857 1.16096 16.0143 1.16096 16.3875 1.87995L19.7353 8.32859C20.1456 9.11901 20.886 9.68626 21.7559 9.87684L28.6845 11.3946C29.4206 11.5559 29.7207 12.4426 29.2337 13.0177L24.2773 18.8712C23.7475 19.4969 23.4969 20.3121 23.5837 21.1273L24.406 28.8522C24.4895 29.6371 23.6735 30.2048 22.9666 29.8536L16.835 26.8067C15.9941 26.3888 15.006 26.3888 14.165 26.8067L8.0334 29.8536C7.32654 30.2048 6.51047 29.6371 6.59402 28.8522L7.41631 21.1273C7.50309 20.3121 7.25245 19.4969 6.72267 18.8712L1.76632 13.0177C1.27935 12.4426 1.57936 11.5559 2.3155 11.3946L9.24409 9.87684C10.114 9.68626 10.8544 9.11902 11.2647 8.32859L14.6125 1.87995Z"
                  stroke="#E3B100" stroke-width="2" />
              </svg>

            </li>
          </ul>
          <!-- /.stars-wrapper -->
          <div class="rating">
            4.0
          </div>
        </div>
        <!-- /.user-rating light-card -->

        <div class="new-users-number light-card">
          <h5 class="user-stats-h5">New Users:</h5>

          <div class="js-tabs">

            <ul class="js-tabs__header">
              <li><a href="#" class="js-tabs__title">week</a></li>
              <li><a href="#" class="js-tabs__title">month</a></li>
              <li><a href="#" class="js-tabs__title">year</a></li>
            </ul>

            <div class="js-tabs__content">
              <div class="users-number">456</div>
            </div>

            <div class="js-tabs__content">
              <div class="users-number">1345</div>
            </div>

            <div class="js-tabs__content">
              <div class="users-number">12446</div>
            </div>

          </div>
        </div>
        <!-- /.new-users-number light-card -->

        <div class="new-users-graphic light-card">
          <h5 class="user-stats-h5 before-el">New Users:</h5>

          <div class="js-tabs">

            <ul class="js-tabs__header">
              <li><a href="#" class="js-tabs__title">week</a></li>
              <li><a href="#" class="js-tabs__title">month</a></li>
              <li><a href="#" class="js-tabs__title">year</a></li>
            </ul>

            <div class="js-tabs__content chart-container">
              <canvas class="users-number user-number-week-chart"></canvas>
            </div>

            <div class="js-tabs__content chart-container">
              <canvas class="users-number user-number-month-chart"></canvas>
            </div>

            <div class="js-tabs__content chart-container">
              <canvas class="users-number user-number-year-chart"></canvas>
            </div>

          </div>
        </div>
        <!-- /.new-users-graphic light-card -->

        <div class="user-activity light-card">

          <h5 class="user-stats-h5 before-el">User activity:</h5>
          <form class="user-activity-sort">

            <div class="js-tabs user-activity-tabs">

              <ul class="js-tabs__header">
                <li><a href="#" class="js-tabs__title">1w</a></li>
                <li><a href="#" class="js-tabs__title">1m</a></li>
                <li><a href="#" class="js-tabs__title">1y</a></li>
                <li><a href="#" class="js-tabs__title user-data-input">
                    <label class="user-activity-data">
                      <input type="text" placeholder="mm/dd/yyyy - mm/dd/yyyy" name="userActivityData">
                      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M11.5909 0C12.0177 0 12.3636 0.345962 12.3636 0.772727V2.31818H10.8182V0.772727C10.8182 0.345962 11.1641 0 11.5909 0Z"
                          fill="#596079" fill-opacity="0.8" />
                        <path
                          d="M6.18182 2.31818V0.772727C6.18182 0.345962 5.83586 0 5.40909 0C4.98233 0 4.63636 0.345962 4.63636 0.772727V2.31818H6.18182Z"
                          fill="#596079" fill-opacity="0.8" />
                        <path
                          d="M6.18182 2.31818V3.86364C6.18182 4.2904 5.83586 4.63636 5.40909 4.63636C4.98233 4.63636 4.63636 4.2904 4.63636 3.86364V2.31818C3.10891 2.31937 2.30827 2.33886 1.68767 2.65507C1.10607 2.95141 0.633225 3.42426 0.336889 4.00585C0 4.66703 0 5.53256 0 7.26364V12.0545C0 13.7856 0 14.6512 0.336889 15.3123C0.633225 15.8939 1.10607 16.3668 1.68767 16.6631C2.34885 17 3.21438 17 4.94545 17H12.0545C13.7856 17 14.6512 17 15.3123 16.6631C15.8939 16.3668 16.3668 15.8939 16.6631 15.3123C17 14.6512 17 13.7856 17 12.0545V7.26364C17 5.53256 17 4.66703 16.6631 4.00585C16.3668 3.42426 15.8939 2.95141 15.3123 2.65507C14.6917 2.33886 13.8911 2.31937 12.3636 2.31818V3.86364C12.3636 4.2904 12.0177 4.63636 11.5909 4.63636C11.1641 4.63636 10.8182 4.2904 10.8182 3.86364V2.31818H6.18182Z"
                          fill="#596079" fill-opacity="0.8" />
                        <rect x="1.41602" y="5.66699" width="5.66667" height="5.66667" rx="1" fill="#E4E5EB"
                          fill-opacity="0.21" />
                      </svg>
                    </label>
                  </a></li>
              </ul>

              <div class="js-tabs__content">
                <canvas class="users-number user-activity-week-chart"></canvas>
              </div>

              <div class="js-tabs__content">
                <canvas class="users-number user-activity-month-chart"></canvas>
              </div>

              <div class="js-tabs__content">
                <canvas class="users-number user-activity-year-chart"></canvas>
              </div>

              <div class="js-tabs__content">
                <div class="users-number"></div>
              </div>

            </div>
          </form>
        </div>
        <!-- /.user-activity light-card -->
        <h5 class="user-stats-h5 mobile-only before-el">List of users</h5>
        <div class="user-orders light-card">

          <form class="user-orders-sort">
            <div class="search-field">
              <label for="orderSearch" class="search-field-icon"><svg width="20" height="27" viewBox="0 0 20 27"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle r="7.96262" transform="matrix(-1 0 0 1 8.96267 8.96262)" stroke="#E3B100" stroke-width="2" />
                  <path d="M13.1454 16.7302L18.5229 26.2904" stroke="#E3B100" stroke-width="2" />
                </svg>
              </label>
              <input id="orderSearch" class="search-field-input" type="search" placeholder="Search">
            </div>

            <button type="button" class="btn-base">
              <span class="btn-base-text">Search</span>
            </button>

            <div class="mobile-users-sort">
              <span>Most active</span>
              <i>
                <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4.35355 0.646446C4.15829 0.451184 3.84171 0.451184 3.64645 0.646446L0.464466 3.82843C0.269204 4.02369 0.269204 4.34027 0.464466 4.53553C0.659728 4.7308 0.97631 4.7308 1.17157 4.53553L4 1.70711L6.82843 4.53553C7.02369 4.7308 7.34027 4.7308 7.53553 4.53553C7.7308 4.34027 7.7308 4.02369 7.53553 3.82843L4.35355 0.646446ZM4.5 12L4.5 1L3.5 1L3.5 12L4.5 12Z"
                    fill="#181D30" />
                  <path
                    d="M12.6464 12.3536C12.8417 12.5488 13.1583 12.5488 13.3536 12.3536L16.5355 9.17157C16.7308 8.97631 16.7308 8.65973 16.5355 8.46447C16.3403 8.2692 16.0237 8.2692 15.8284 8.46447L13 11.2929L10.1716 8.46447C9.97631 8.2692 9.65973 8.2692 9.46447 8.46447C9.2692 8.65973 9.2692 8.97631 9.46447 9.17157L12.6464 12.3536ZM12.5 1L12.5 12L13.5 12L13.5 1L12.5 1Z"
                    fill="#181D30" />
                </svg>

              </i>
            </div>
            <!-- /.mobile-sort -->
            <div class="select-box sort-select">
              <div class="select-box__current" tabindex="1">
                <div class="select-box__value"><input class="select-box__input" type="radio" id="0" value="1"
                    name="sort" checked="checked" />
                  <p class="select-box__input-text">By date added</p>
                </div>
                <div class="select-box__value"><input class="select-box__input" type="radio" id="1" value="2"
                    name="sort" checked="checked" />
                  <p class="select-box__input-text">Price - Low to high</p>
                </div>
                <div class="select-box__value"><input class="select-box__input" type="radio" id="2" value="3"
                    name="sort" checked="checked" />
                  <p class="select-box__input-text">Price - High to low</p>
                </div>
                <div class="select-box__value"><input class="select-box__input" type="radio" id="3" value="4"
                    name="sort" checked="checked" />
                  <p class="select-box__input-text">Inactive first</p>
                </div>
                <div class="select-box__value"><input class="select-box__input" type="radio" id="4" value="5"
                    name="sort" checked="checked" />
                  <p class="select-box__input-text">Active first</p>
                </div>


                <img class="select-box__icon" src="./images/selectArrow.svg" alt="Arrow Icon" aria-hidden="true" />
              </div>
              <ul class="select-box__list">
                <li><label class="select-box__option" for="0" aria-hidden="aria-hidden">By date added</label></li>
                <li><label class="select-box__option" for="1" aria-hidden="aria-hidden">Price - Low to high</label></li>
                <li><label class="select-box__option" for="2" aria-hidden="aria-hidden">Price - High to low</label></li>
                <li><label class="select-box__option" for="2" aria-hidden="aria-hidden">Inactive first</label></li>
                <li><label class="select-box__option" for="4" aria-hidden="aria-hidden">Active first</label></li>
              </ul>
            </div>
          </form>

          <!-- /.user-orders-sort -->
          <ul class="user-stats-table-heading reset-list-styles">
            <li class="user-number">№</li>
            <li class="user-name">Name</li>
            <li class="user-number-orders">The number of orders</li>
            <li class="user-reviews">Reviews</li>
            <li class="user-amount">Amount</li>
          </ul>
          <a class="user-map-link" href="user-map.html">

            <ul class="reset-list-styles user-stats-table-item">
              <li class="user-number">1
              </li>
              <li class="user-name">-
              </li>
              <li class="user-number-orders">+100</li>
              <li class="user-reviews">6</li>
              <li class="user-amount">220</li>
              <li class=""></li>
            </ul>
          </a>
          <a href="user-map.html" class="user-map-link">
            <ul class="reset-list-styles user-stats-table-item">
              <li class="user-number">2
              </li>
              <li class="user-name">-
              </li>
              <li class="user-number-orders">+100</li>
              <li class="user-reviews">6</li>
              <li class="user-amount">220</li>
              <li class=""></li>
            </ul>
          </a>

          <a href="user-map.html" class="user-map-link">
            <ul class="reset-list-styles user-stats-table-item">
              <li class="user-number">3
              </li>
              <li class="user-name">-
              </li>
              <li class="user-number-orders">+100</li>
              <li class="user-reviews">6</li>
              <li class="user-amount">220</li>
              <li class=""></li>
            </ul>
          </a>

          <a href="user-map.html" class="user-map-link">
            <ul class="reset-list-styles user-stats-table-item">
              <li class="user-number">4
              </li>
              <li class="user-name">-
              </li>
              <li class="user-number-orders">+100</li>
              <li class="user-reviews">6</li>
              <li class="user-amount">220</li>
              <li class=""></li>
            </ul>
          </a>

          <a href="user-map.html" class="user-map-link">
            <ul class="reset-list-styles user-stats-table-item">
              <li class="user-number">5
              </li>
              <li class="user-name">-
              </li>
              <li class="user-number-orders">+100</li>
              <li class="user-reviews">6</li>
              <li class="user-amount">220</li>
              <li class=""></li>
            </ul>
          </a>

          <a href="user-map.html" class="user-map-link">
            <ul class="reset-list-styles user-stats-table-item">
              <li class="user-number">6
              </li>
              <li class="user-name">-
              </li>
              <li class="user-number-orders">+100</li>
              <li class="user-reviews">6</li>
              <li class="user-amount">220</li>
              <li class=""></li>
            </ul>
          </a>

          <!-- /.reset-list-styles user-stats-table-item -->
          <!-- /.user-orders-table-title -->
        </div>
        <!-- /.user-orders light-card -->
      </main>
    </div>
    <!-- /.wrapper -->
  </div>
  <!-- /.container -->

  @@include('../partials/scripts/common.html')
</body>

</html>
